{{/*
  Embeds a public Google Calendar as an iframe.

  Calendar settings live in [params.calendar] in config.toml. Pass src or
  timezone to override. Needs https://calendar.google.com in CSP frame-src
  (see head-additions.html).

    {{< google-calendar >}}
*/}}
{{- $cfg := site.Params.calendar -}}
{{- $src := .Get "src" | default $cfg.id | default "rukav.swiss@gmail.com" -}}
{{- $tz := .Get "timezone" | default $cfg.timezone | default "Europe/Zurich" -}}
{{- $height := .Get "height" | default "600" -}}
<div class="calendar-embed">
  <iframe
    src="https://calendar.google.com/calendar/embed?src={{ $src | urlquery }}&amp;ctz={{ $tz | urlquery }}"
    width="100%"
    height="{{ $height }}"
    frameborder="0"
    scrolling="no"
    loading="lazy"
    title="{{ lang.Translate "calendarEmbed" }}"></iframe>
</div>
