{{ define "header" }}
  {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <article class="page-faq flex-l mw7 center ph3 flex-wrap justify-between">
    <header class="mt4 w-100">
      {{ partial "faq-subnav.html" . }}
      <h1 class="f1 athelas mt3 mb1">
        {{- .Title -}}
      </h1>
      {{ with .Params.description }}
      <p class="tracked f5">{{ . }}</p>
      {{ end }}
    </header>
    <div class="faq-content nested-copy-line-height lh-copy {{ $.Param "post_content_classes" | compare.Default "serif" }} f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }} w-100-l">
      {{- .Content -}}
    </div>
    {{ partial "faq-accordion.html" . }}
  </article>
{{ end }}
